#search {
	padding: 6px;
	border: none;
	font-size: 16px;
	margin: auto;
}
html {width:100%;}
body {
	width: 100%; 
}

main {
	margin:auto;
	width:50%;
}

#searchbar {
	position:fixed;
	top: 2em;
}

#data-display {
	margin-top: 15%;
}
